
*{
font-family: Lucida , Courier;
}

/*Title and stuff*/
h1{
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px #fff;
}
header{
  background-color: #3d827f;
  border-radius: 20px;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 5px;
  margin-left: 75px;
  margin-right: 75px;
}
.list1{
  width: 80px;
  height:70px;
  position: relative;
  top: 15px;
  right: 25px;
}
.list2{
  width: 80px;
  height:70px;
  position: relative;
  top: 15px;
  right:10px;
}

/*Input and Add button*/
input{
  width: 50%;
  padding: 12px 20px;
  margin: 7px 0;
  box-sizing: border-box;
}

.addButton{
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #000000;
  font-size: 50px;
  color: #3d827f;
  text-align: center;
  font-weight: bold;
  position: relative;
  right: 0px;
  bottom: 5px;
}
.addButton:hover{
  background-color: #2a4c52;
  font-size: 50px;
  color: #fff;
}

#item{
  border-radius: 20px;
  margin-top: 5px;
  font-size: 24px;
  position: relative;
  top: -10px;
}

/*Actual todo list*/
ul{
  cursor: pointer;
  width: 90%;
  height: 40px;
  float: left;
  font-size: 28px;
  text-indent: 50px;
  list-style: none;
  position: relative;
  top: 10px;
  left: 15px;
  padding: 20px 100px 20px 20px;
  line-height: 70px;

}
.container{
  background-color:#e1e1e8;
  margin-bottom: 5px;
  height: 500px;
  padding: 15px;
  border-radius: 20px;
  padding: 10px 10px;
  margin-left: 75px;
  margin-right: 75px;
  overflow: scroll;
  margin-top: 10px;
}
ul li.checked {
  color: grey;
  text-decoration: line-through;
}
ul li:hover {
  text-decoration: line-through;
}

/*Buttons*/
.close {
  position: absolute;
  right: 100px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 6px 10px 0 #000000;
  font-weight: bold;
  color: #3d827f;
  background-color: white;

}


#prioritize {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  right: 200px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 6px 10px 0 #000000;
  font-weight: bold;
  color: #3d827f;
  background-color: white;
}
